.navbar_mobile{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  padding: 14px 0;
  background-color: var(--bg);
  max-height: 60px;
  height: 12%;
  width: 100%;
  opacity: .95;
  backdrop-filter: blur(10px);
}
.nav_link{
  display: flex;
  justify-content: center;
  align-items: center;
  width:24px;
  height: 24px;
  border-radius: 50%;
}
.nav_link:hover .nav_icon path,
.nav_link.active .nav_icon path{
  fill: var(--blue)
}
.nav_link.active{
  background-color: var(--link-active);
}
.nav_icon{
  width: 14px;
  height: 14px;
}
.nav_icon path{
  fill: #5B5D72
}


.addBtn{
  position:relative;
  bottom:20px;
}
@media (min-width: 1024px) {
.navbar_mobile{
  display: none;
}
}
