.card{
  display: flex;
  flex-direction: column;
  min-height: 282px;
  background-color: #e9dde9;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease;
}
.image{
height: 50%;
}
.heart{
  width:18px;
  height: 22px;
  cursor: pointer;

}
.like{
  width:18px;
  height: 22px;
  cursor: pointer;
  color: red;

}
.info{
  padding:8px 16px;
  height:50%;
}
.title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.title_text{
  max-width: 88%;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.description{
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.desc_icon{
  margin-right: 8px;
  width: 16px;
  height: 15px;
}
.desc_info{
  display: flex;
  margin-bottom: 9px;
}

@media(max-width:451px){
  .card{
    flex-direction: row;
    max-height: 250px;
  }
}