.myBtn{
  width:100%;
  height: 100%;
  padding: 8px 16px;
  border:none;
  border-radius: 16px;
  color: #dfe0ff;
  background-color: #3b4cdc;
  cursor: pointer;
  transition: background-color 0.2s;
}
.myBtn:hover{
  background-color: #3b4bdcdc;
}
.myBtn:disabled{
  background-color: #3b4bdc94;
}