.cards{
  max-width: 882px;
  max-height: 75%;
  margin-left: auto;
  margin-right: auto;
}
.cards_wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));
  gap:  8px;
  justify-content: space-around;
  max-width: 950px;
  margin-bottom: 15px;
}
.btn_wrapper{
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

