.section_profile{
  margin-left: auto;
  margin-right: auto;
  max-width: 912px;
  padding: 16px;
  background-color: #fef7ff;
}
.profile_container{
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.profile_heading{
  display: flex;
  justify-content: space-between;
}
.settings_subscribe_btn{
  position: absolute;
  right: 20px
}
.settings_subscribe_btn:hover .btn_icon rect{
  fill:#3b4bdcdc;
  transition: fill 0.2s;
}
.profile_info{
  display: flex;
  flex-direction: column;
}
.profile_avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}
.profile_info__text{
  color: #47464F;
  margin-bottom: 4px;
}
.profile_username{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1d1b20
}
.profile_description{
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.interests_wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.interests{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  border-radius: 24px;
  padding: 8px;
  background-color: #e0e0f7;
}


@media(min-width: 1024px){
  .profile_container{
flex-direction: column;
  }
  .profile_info__text{
    
    margin-bottom: 8px;
  }

}