.section_profile{
  margin-left: auto;
  margin-right: auto;
  max-width: 912px;
}
.profile_container{
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #fef7ff;
  margin-left: auto;
  margin-right: auto;
}
.profile_info{
  display: flex;
  flex-direction: column;
}
.profile_avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.profile_username{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.profile_description{
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.interests_wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.interests{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  border-radius: 24px;
  padding: 8px;
  background-color: #e0e0f7;
}

@media(min-width: 1024px){
  .profile_container{
flex-direction: column;
  }

}