.myInput{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 16px;
  border: 1px solid #E3E1EC;
  border-radius: 16px;
  background-color: #E3E1EC;
  overflow: hidden;
}
.myInput:focus-within{
  border-color: #3B4CDC;
  background-color: #FEF7FF;
}

.input{
  width: 100%;
  background: transparent;
  border: none;
}