*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
  height: auto;
}
.root{
  margin-left: auto;
  margin-right: auto;
  
}
li {
  list-style: none;
}
.container{
  padding: 127px 8px 66px ;
}
a{
  text-decoration: none;
}
::-webkit-scrollbar {
  height: 4px;  
  width:4px;
}

::-webkit-scrollbar-thumb {
  background-color: #79747E;  
  border-radius: 4px;     
}