.grid{
  display: flex;
}
.grid_swiper{
  display: grid;
  gap:5px;
  grid-template-columns: repeat(auto-fill, minmax(207px, 1fr));

  grid-template-rows: repeat(2, 80px);
  grid-template-areas: 
  "big1 big1 card2 card2 big5 big5 card6 card6 card8 card8" 
  "big1 big1 card3 card4 big5 big5 card7 card7 card9 card9" 
  ;
 
}
.item{
  border: 1px solid gray;
  cursor: pointer;
  
}
:global(.grid1){
  grid-area: big1;
}
:global(.grid2){
  grid-area: card2;
}
:global(.grid3){
  grid-area: card3;
}
:global(.grid4){
  grid-area: card4;
}
:global(.grid5){
  grid-area: big5;
}
:global(.grid6){
  grid-area: card6;
}
:global(.grid7){
  grid-area: card7;
}
:global(.grid8){
  grid-area: card8;
}
:global(.grid9){
  grid-area: card9;
}


