.sectionSearch{
  max-width: 882px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding: 0 15px;

}
.sectionSearch_input{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

}
.search_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left:16px; 
  width: 82.3%;
  height: 36px;
  border: 1px solid #5837F3;
  border-radius: 20px;
  overflow: hidden;
  
}
.search_icon{
  width: 16px;
  height: 16px;
}
.search_input{
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 0 11px;
  width:100%;
  border: none;
  outline: none;
}
.btn{
  padding: 0 16px;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  color: aliceblue;
  background-color: #5837F3;
  border: none;
  cursor: pointer;
}
.geo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16%;
  cursor: pointer;

}
.geo_text{
  font-size: 14px;
  font-weight: 400;
  margin-left: 2%;
}


