.sectionSearch{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  width:100%;
  min-height: 108px;
  background-color:  var(--bg);
}

.geo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16%;
  cursor: pointer;

}
.geo_text{
  font-size: 14px;
  font-weight: 400;
  margin-left: 2%;
}


