.card{
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 269px;
  background-color: var(--bg);
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease;
}
.card:hover{
  box-shadow: 0 0 5px 7px #e3e1ec;
}
.image{
height: 47%;
min-height: 120px ;
object-fit: cover;
}

.heart{
  position: absolute;
  top: 10px;
  left: 83.6%;
  width:18px;
  height: 22px;
  cursor: pointer;
}

.like{
  position: absolute;
  top: 10px;
  left: 83.6%;
  width:18px;
  height: 22px;
  cursor: pointer;
  color: red;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:8px 16px;
  height:50%;
  color: #1b1b1f
}
.title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.title_text{
  max-width: 88%;
  max-height: 50px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  
}
.description{
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.desc_icon{
  margin-right: 8px;
  width: 16px;
  height: 15px;
}
.desc_info{
  display: flex;
  margin-bottom: 9px;
}
