.searchButton{
  color: var(--gray);
height: 36px;
padding: 8px 16px;
border: 1px solid var(--gray-light) ;
border-radius: 32px;
background-color: #fff;
cursor: pointer;
white-space: nowrap;
}
.searchButton:active{
  background-color: #5837F333
}
.searchButton.active{
  background-color: #5837F333
}
