.searchButton{
height: 36px;
padding: 8px 16px;
border: 1px solid #C7C5D0 ;
border-radius: 32px;
background-color: #fff;
cursor: pointer;
white-space: nowrap;
}
.searchButton:active{
  background-color: #5837F333
}