.searchButton{
  color: var(--gray);
height: 36px;
padding: 8px 16px;
border: 1px solid var(--gray-light) ;
border-radius: 32px;
background-color: #fff;
cursor: pointer;
white-space: nowrap;
transition: background-color 0.2s;
}
.searchButton:hover{
  background-color: #8165fc0e
}
.searchButton.active{
  color:#1b1b1f;
  background-color: #5837F333
}
